.dashboardLayout {
  display: flex;
  gap: 50px;
  padding-top: 20px;
  height: 100%;

  .menu {
    flex: 1;
  }

  .content {
    flex: 4;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #ccd0da;
    background-color: #e6e9ef;
  }
}
