.homepage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;

    h1 {
      font-size: 98px;
      background: linear-gradient(to right, #1e66f5, #e64553);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    h3 {
      font-weight: 400;
      max-width: 70%;
    }

    a {
      padding: 15px 25px;
      background-color: #7287fd;
      color: #eff1f5;
      border-radius: 50px;
      font-size: 18px;
      margin-top: 20px;

      &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 20px rgb(30, 102, 245, 0.2);
        -webkit-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: all 200ms linear;
        background-color: #1e66f5;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7287fd;
    border-radius: 50px;
    width: 80%;
    height: 50%;

    .bot {
      width: 100%;
      height: auto;
      object-fit: contain;
      animation: 3s ease-in-out infinite alternate botAnimate;
    }
  }

  .orbital {
    z-index: -1;
    position: absolute;
    width: 800px;
    bottom: 100px;
    left: 0;
    opacity: 0.3;
    animation: 50s linear infinite rotateOrbital;
    overflow: hidden;
  }
}

@keyframes rotateOrbital {
  0% {
  }
  100% {
  }
}

@keyframes botAnimate {
  0% {
  }
  100% {
  }
}
